<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
</head>
<body>

<h1>Login Page</h1>
<hr/>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="Username"><br/>
    <input type="password" name="password" placeholder="Password"><br/>
    <button type="submit">login</button>

</form>
<a href="/oauth2/authorization/google">Google Login</a><br/>
<!--
    /oauth2/authorization/google
        - 스프링 시큐리티에서 기본적으로 제공하는 로그인 URL
        - 로그아웃 URL과 마찬가지로 개발자가 별도의 컨트롤러를 생성할 필요 없음
-->

<a href="/joinForm">Sign Up</a>
</body>
</html>